.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 18em 1fr;
    min-height: 100vh;
}

#side_menu {
    display: flex;
    padding-top: 0.5rem;
    flex-direction: column;
    border-width: 0.25rem;
    border-color: #608BC1;
    border-style: solid;
    background: linear-gradient(0deg, #133E87 0%, #3b66b0 100%);
}

#side_menu a {
    text-align: center;
    font-size: 1.5rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;

    padding: 0.5rem;

    color: #133E87;
    background-color: #ccf9ff;
    text-decoration-line: none;

    border: 0.25rem;
    border-color: #608BC1;
    border-style: solid;
    border-radius: 8px;
    transition-duration: 100ms;
}

#side_menu a:hover {
    background-color: #133E87;
    border-color: white;
    color: #ccf9ff;
    transition-duration: 100ms;
    box-shadow: 0 0 0.3em 0.3em rgba(255, 255, 255, 0.436);
}

.logo {
    height: 14rem;
    background-image: url("../../meedia/pildid/logo.png");
    background-position: center;
    background-size: contain;
}

#content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: #CBDCEB;
}

.header {
    font-size: 3rem;
    background-image: url("../../meedia/pildid/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    border-bottom: 0.25rem;
    border-color: #608BC1;
    border-style: solid;
}

.header h1 {
    margin: 1em;
    color: white;
    text-align: center;
    text-shadow: 0 0 0.6em rgba(0, 0, 0, 0.5);
}

#main_panel {
    display: grid;
    gap: 1em;
    padding: 4rem;
}

#main_panel ul {
    list-style-type: none;
    padding: 0;
}

#room_table {
    border: #608BC1;
    border-width: 0.25rem;
    border-radius: 0.25rem;
    border-style: solid;
    border-collapse: collapse;
    width: 50%;
}

#room_table td {
    padding: 0.5rem;
}

#room_table th {
    padding: 0.5rem;
    background-color: #133E87;
    color: white;
}

#gallery_title {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 80%;
    height: auto;
    border: 0.25rem;
    border-color: #608BC1;
    border-style: solid;
    border-radius: 1rem;
    margin: 2rem;
}

.vahe {
    display: block;
    line-height: 1.1;
    margin: 0;
    font-style: italic;
}

#footer {
    text-align: center;
    padding: 1rem;
    background-color: #133E87;
    color: #ccf9ff;
    font-size: 0.9rem;
    border-top: 0.25rem solid #608BC1;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }